
main{

    min-height: 100vh;
    display: grid;
    place-items: center;

}

.container{
    text-align:center;
}



main h1{    

    padding: 15px;
    background: black;
    border:2px solid black;
    border-radius: 20px;
    color: white;

}

.btn-demo{
padding: 10px;
border-radius: 20px;
color: white;
background-color: #222;
font-weight: 700;


}

.btn:hover{

    color:#222;
    background-color: yellow;
}